.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.Logo {
    width: 200px;
}

.nav-items {
    font-size: large;
}

.nav-items > ul {
    display: flex;
    padding: 0px 23px;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.resto-container{
    display: flex;
    flex-wrap: wrap;
}

.restocard {
    margin: 5px;
    padding: 3px;
    width: 200px;
    background-color: #f0f0f0;
}

.restocard:hover {
    border: 1px solid black;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}


.shimmer-card{
    margin: 15px;
    width: 200px;
    height: 400px;
    background-color: #f3f3f3;
}